
.menu-item-2{
    margin-bottom: .5rem !important;
}
.item-header-blue{

    color: $navlink-color;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.item-header-black{

    color: black;
    font-weight: 700;
    font-size: 3rem;
    
}
